.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.notification__item--default {
  background: #FFF!important;
  color: #615CCD!important;
  border-left: none!important;
}
.notification__item--default .notification__title {
  color: #615CCD!important;
}

.notification__item--default .notification__message {
  color: #615CCD!important;
}


.notification__item--default .notification__close {
  background-color: #fff!important;
}

.notification__item--default .notification__close::after {
  color: #615CCD!important;
  font-size: 20px!important;
}

.notification__close::after {
  font-size: 20px!important;
}